#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#mainheader{
  border: 2px solid blue
}

#navbar{
  border: 2px solid red
}

#body{
  border: 2px solid green;
}

#articleslist{
  border: 2px solid yellow;
}

#singlearticlebody{
  border: 2px solid black;
}

#topicsdropdown{
  border: 2px solid orange
}

#commentlist{
  border: 2px solid yellow
}

#commentcard{
  border: 2px solid orange
}

#newcommentform{
  border: 2px solid plum
}

.articlecard{
  border: 2px solid black
}

.articlelistimg{
  max-width: 50%;
}

.singlearticleimg{
  max-width: 50%;
}

h3{
  font-size: smaller;
}

.error{
  color: red;
  font-weight: bold;
}
