.maincontainer {
  text-align: center;
  background-image: url(https://www.bhmpics.com/downloads/newspaper-background/62.360_f_307201913_pcsbch4faog4re3s4j8okcmyxaubfvku.jpg);
}

* {
  padding: 0;
  margin: 0;
}

.input-field {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.submitbutton {
  width: 200px;
  height: 70px;
  border: solid;
  border-width: 2px;
  background-color: white;
  border-color: green;
  font-size: 30px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
}

.submitbuttoninactive {
  width: 200px;
  height: 70px;
  border: solid;
  border-width: 2px;
  background-color: white;
  border-color: red;
  font-size: 30px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
}

.deletebutton {
  width: 200px;
  height: 50px;
  border: solid;
  border-width: 2px;
  border-color: red;
  font-size: 20px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
}

#mainheader {
  font-weight: bolder;
  font-size: 100px;
}

#greeting {
  font-size: 20px;
}

#navbar {
  font-size: 30px;
}

nav {
  margin: 8px;
}

#articleslist {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#singlearticlebody {
  margin: 2rem;
  margin-top: 0rem;
  display: grid;
  justify-content: center;
  justify-items: center;
}

#commentlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#commentcard {
  margin: 15px;
  padding: 25px;
  width: 60vw;
  background-color: rgba(137, 138, 137, 0.177);
  border: double;
  border-color: black;
  font-size: 25px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
}

#articlecard {
  max-width: 290px;
  margin: 15px;
  padding: 0px;
}

.articlelistimg {
  max-width: 80%;
}

.singlearticleimg {
  max-width: 80%;
  margin: 1rem;
  margin-top: 0;
  border-radius: 5px;
}

.stamp {
  font-weight: bold;
  font-size: 14px;
}

.votes {
  font-size: 1.5rem;
  margin-left: 10px;
  font-weight: bold;
}

.up {
  font-size: 20px;
  color: blue;
}

.down {
  font-size: 20px;
  color: red;
}

.undo {
  color: red;
  border: 0;
}

article {
  max-width: 60vw;
  font-size: 25px;
  margin: 8px;
}

.error {
  color: red;
  font-weight: bold;
}

#dropdown {
  padding: 20px;
  margin-top: 10px;
}

form {
  padding: 30px;
  font-size: 20px;
}

input[type="radio"] {
  margin-right: 10px;
}

@media (max-width: 680px) {
  #articlecard {
    min-width: 80vw;
    margin: 15px;
    padding: 0px;
  }

  #commentcard {
    margin: 15px;
    padding: 25px;
    width: 90vw;
    background-color: rgba(137, 138, 137, 0.177);
    border: double;
    border-color: black;
    font-size: 25px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  }

  .deletebutton {
    width: 150px;
    height: 40px;
    border: solid;
    border-width: 2px;
    border-color: red;
    font-size: 15px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  }

  .submitbutton {
    width: 150px;
    height: 50px;
    border: solid;
    border-width: 2px;
    background-color: white;
    color: green;
    border-color: green;
    font-size: 25px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  }

  .submitbuttoninactive {
    width: 150px;
    height: 50px;
    border: solid;
    border-width: 2px;
    background-color: white;
    color: red;
    border-color: red;
    font-size: 25px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.4);
  }

  article {
    max-width: 90vw;
    font-size: 20px;
    margin: 8px;
  }

 
}

@media (min-width: 1000px) {
  #mainheader {
    font-weight: bolder;
    font-size: 200px;
  }

  .input-field {
    max-width: 80%;
  }

  #greeting {
    font-size: 30px;
  }

  form {
    padding: 10px;
    font-size: 30px;
  }

  input[type="radio"] {
    transform: scale(2.5);
    margin-right: 25px;
  }
}

#dropdowncontainer {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

@media (max-width: 580px) {
  #dropdowncontainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 1px;
  }

  #dropdown {
    padding: 5px;
    padding-bottom: 0px;
  }

  form {
    padding: 10px;
  }

  #mainheader {
    font-weight: bolder;
    font-size: 80px;
  }

  #articlecard {
    min-width: 80vw;
    margin: 15px;
    padding: 0px;
  }

}
