#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image: url(https://www.bhmpics.com/downloads/newspaper-background/62.360_f_307201913_pcsbch4faog4re3s4j8okcmyxaubfvku.jpg);
}

#mainheader{
 font-weight: bolder;
 font-size: 100px;
}

#greeting{
  font-size: 20px;
}

#navbar{
  font-size: 20px
}

#body{
  border: 2px solid green;
}

#articleslist{
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid yellow;
}

#singlearticlebody{
  border: 2px solid black;
}

#topicsdropdown{
  border: 2px solid orange
}

#commentlist{
  border: 2px solid yellow
}

#commentcard{
  border: 2px solid orange
}

#newcommentform{
  border: 2px solid plum
}

.articlecard{
  width: 45vw;
  max-width: 400px;
  border: 2px solid black
}

.articlelistimg{
  max-width: 50%;
}

.singlearticleimg{
  max-width: 50%;
}

h3{
  font-size: smaller;
}

.error{
  color: red;
  font-weight: bold;
}

#dropdown{
  padding: 20px
}

